body {
	  background: url("https://cutewallpaper.org/21/black-wolf-wallpapers/Hands-holding-down-a-black-wolf-wallpaper-Digital-Art-.jpg") fixed no-repeat center !important;
	background-size: cover;
	color: #fff;
}
a {
	text-decoration: none;
	color:#93bd3b;
}
a:hover {
	text-decoration: none;
	color:#75962f;
}
